*~
tools/foil-tools.ncb
tools/foil-tools.opt
test/foil_test.ncb
test/foil_test.opt
test/coverage/libfoil.gcov
test/coverage/libfoil-raw.gcov
test/coverage/libfoilmsg.gcov
test/coverage/libfoilmsg-raw.gcov
test/coverage/results
debian/files
debian/foil-tools.debhelper.log
debian/foil-tools.substvars
debian/foil-tools
debian/libfoil-dev.debhelper.log
debian/libfoil-dev.substvars
debian/libfoil-dev
debian/libfoil.debhelper.log
debian/libfoil.postinst.debhelper
debian/libfoil.postrm.debhelper
debian/libfoil.substvars
debian/libfoil
debian/tmp
documentation.list
installroot
build
RPMS
